version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: donela-pg
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 3s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: donela-redis
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 3s
      timeout: 5s
      retries: 10

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint:
        - /go/bin/goose
        - -dir
        - internal/db/pg/migrations
        - postgres
        - postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
        - up

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: donela-server
    restart: always
    depends_on:
      migrate:
        condition: service_completed_successfully
    ports:
      - "3000:3000"

  # worker:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.worker
  #   container_name: donela-worker
  #   restart: always
  #   depends_on:
  #     migrate:
  #       condition: service_completed_successfully

volumes:
  pgdata:
